body{
    padding: 0;
    margin: 0;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F79F1F;
    padding: 0 10px;
    color: white;
    padding:0 0 10px 0;
}

.logo{display:flex;
    justify-content: space-between;
    align-items: center;
}
.pic{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    padding: 5px;
}
.navbar{
    background-color: gray;
    color: white;
    padding: 10px;
    width: 100%;
    margin: auto;

}
.navbar a{
    color: white;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.navbar ul li{
    margin: 0 10px;
}
.hero-section {
    position: relative;
    background: url(background2.jpg) no-repeat center center/cover; /* Adjust path to your background image */
    height: 80vh; /* Full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    }
    /* Text content */
.hero-text {
        position: relative;
        z-index: 2;
        text-align: center;
        }
    
.hero-text h1 {
        font-size: 3rem;
        font-weight: bold;
        }
    
.hero-text p {
        font-size: 1.5rem;
    }

    /* Overlay to darken the background image slightly */
.overlay {
    position: absolute;
    top: 150px;
    left: 200px;
    right: 150px;
    width: 1000px;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent dark overlay */
    z-index: 1;
    }
    .explore img{
    width: 355px;
    height: 300px;
}
.explore h1{
    padding-bottom: 20px;
    
}
.login{
    background-color: lightblue;
    padding: 20px;
}
.text-center{
    margin-bottom: 20px;
}


.about{
    margin-top: 15px;
}

        /* Align the transport options horizontally */
.transport {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.transport div {
    text-align: center;
}

/* Style for transport images */
.transport img {
    width: 200px;  /* Adjust the size of the transport icons */
    height: auto;
    margin-bottom: 10px;
}

/* Radio buttons alignment with the label */
.form-check {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center radio buttons and label */
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 0.875rem;
}